<article class="news-card">

  <!-- ---------- ARTICLE ---------- -->

  <a
    class="article-link"
    [routerLink]="['/article', article().id]"
  >

    <h2>
      {{ article().title }}
    </h2>

    <p class="summary">
      {{ article().summary || article().description }}
    </p>

  </a>


  <!-- ---------- TOPICS ---------- -->

  @if (article().topics?.length) {

    <div class="topics">

      @for (topic of article().topics; track topic) {

        <span class="topic">
          {{ topic }}
        </span>

      }

    </div>

  }


  <!-- ---------- FOOTER ---------- -->

  <div class="card-footer">

    <div class="article-meta">

      <span class="source">
        {{ article().source }}
      </span>

      @if (article().readTime) {

        <span class="meta-divider">
          ·
        </span>

        <span class="read-time">
          {{ article().readTime }}
        </span>

      }

    </div>


    <div class="actions">

      <!-- LIKE -->

      <button
        type="button"
        class="action-button like-button"
        [class.active]="liked()"
        [disabled]="likeLoading()"
        (click)="toggleLike($event)"
      >

        @if (liked()) {

          ♥ Liked

        } @else {

          ♡ Like

        }

      </button>


      <!-- SAVE -->

      <button
        type="button"
        class="action-button save-button"
        [class.active]="saved()"
        [disabled]="saveLoading()"
        (click)="toggleSave($event)"
      >

        @if (saved()) {

          ★ Saved

        } @else {

          ☆ Save

        }

      </button>

    </div>

  </div>

</article>